.slides {display:none}

.slideshow-container {
  margin-top: -4%;
  width: 60%;
  margin-left: 30%;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
  border-style: none;
  border-radius: 5px;
}

.lef {
  margin-left: 10%;
  padding: 0;
  margin-top: -10%;
  float: left;
  max-width: 18%;
  font-size: 20px;
  text-align: justify;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 2%;
  margin-top: -2.4%;
  color: white;
  font-weight: bold;
  font-size: 2vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  left: auto;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1.5vw;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 1.2vw;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor:pointer;
  height: 1.2vw;
  width: 1.2vw;
  padding: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-mar {
  margin-left: 56.5%;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media screen and (max-width: 1300px) {
  .lef {
	margin-left: 8%;
    max-width:22%;
	margin-top:-10.5%;
  }
  .slideshow-container {
	margin-left: 33%;
	width: 60%;
	margin-right: 8%;
  }
  .dot-mar {
    margin-left: 59.5%;
  }
}

@media screen and (max-width: 1200px) {
  .lef {
	margin-left: 6%;
    max-width:25%;
	margin-top:-11%;
  }
  .slideshow-container {
	margin-right: 6%;
	margin-left: 33%;
	width: 60%;
  }
}  

@media screen and (max-width: 1100px) {
  .lef {
	margin-left: 4%;  
    max-width:28%;
	margin-top:-11.5%;
  }
  .slideshow-container {
	margin-left: 35%;
	width: 61%;
	margin-right: 4%;
  }
  .dot-mar {
    margin-left: 62%; 
  }
}

@media screen and (max-width: 1000px) {
  .lef {
	margin-left: 4%;  
    max-width:32%;
	margin-top:-12.5%;
  }
  .slideshow-container {
	margin-left: 39%;
	width: 57%;
	margin-right: 4%;
  }
  .dot-mar {
    margin-left: 64%; 
  }
}
@media screen and (max-width: 930px){
  .lef {
	margin-left: 4%;  
    max-width:96%;
	margin-right: 4%;
  }
  .slideshow-container {
	margin-left: 4%;
	margin-top: 6%;
	width: 92%;
	margin-right: 4%;
  }
  .dot-mar {
    margin-left: 46%; 
  }
}  